@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');

/* inicio geral */

* {
    font-family: poppins;
}


body {
    overflow-x: hidden;
    margin: 0;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 9000;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 20%;
    background-image: linear-gradient(rgb(21 21 21 / 60% ), rgba(0, 0, 0, 0));
}

.navbar img {
    width: 90px;
    margin-left: 90px;

}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.menu a:hover .bar {
    width: 100%;

}

.menu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: white;
}

.menu .bar {
    width: 0%;
    background-color: white;
    height: 2px;
    border-radius: 500px;
    transition: 0.2s ease;
}

.menu #exit-icon {
    font-size: 20px;
    position: relative;
    bottom: 0;
    transition: 0.2s ease;
    margin-bottom: 10px;
}

#exit-icon:hover {
    bottom: 5px;
}

.logo {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 450px;
}

.container-geral{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-vote{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    border-radius: 50px;
}

.container-vote img{
    width: max-content;
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.box-vote{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 450px;
    border-radius: 10px;

}

.box-vote:hover .vote{
    opacity: 1;
    height: 450px;
}

.vote{
    user-select: none;
    opacity: 0;
    color: white;
    background-color: rgba(255, 0, 0, 0.356);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 0;
    border-radius: 10px;
    transition: .5s ease;
}

.vote span{
    margin-bottom: -5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8rem;
}

.vote h1{
    font-size: 6rem;
}

#div_btnvotar button{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    background-color: rgb(146, 40, 40);
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: none;
}


.container-conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-conteudo #slc_voto{
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(185, 185, 185);
}